<div class="home-container">
  <div class="side-bar-wrap">
    <app-side-bar></app-side-bar>
  </div>

  <div class="home">
    <div class="product-list">
      <div class="single-product" *ngFor="let product of productList">
        <mat-card class="example-card" *ngIf="!!product">
          <img
            mat-card-image
            src="{{ product.imageUrl }}"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-content>
            <h4>{{ product.productName }}</h4>
            <h3>${{ product.price }}</h3>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Add To Cart</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
