.home-container {
  display: flex;
  width: 100%;
  gap: 10px;
  .side-bar-wrap {
    flex: 1;
  }
  .home {
    flex: 3;
  }

  .product-list {
    display: flex;
    flex-wrap: wrap;
    .single-product {
      width: 330px;
      margin: 0 10px 10px;
    }
  }
}
