<div class="header">
  <mat-toolbar>
    <a class="logo" [routerLink]="['/']"   >NG Stroe</a>
    <span class="spacer"></span>
    <div class="input-contaier">
      <mat-form-field appearance="standard">
        <mat-label>Search Products</mat-label>
        <input matInput />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>

    <button
      mat-icon-button
      class="icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>shopping_cart</mat-icon>
    </button>
  </mat-toolbar>
</div>
